*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F9F9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: #1287F2;
    color: #ffffff;
    height: 75px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 300px;
    flex-direction: column;
    background-color: #ffffff;
    margin: 25px auto 40px;
    padding: 20px 55px 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 8px #D9D9D9 ;

}

label, input, span{
    color: #555555;
}

label{
    margin: auto;
    padding-bottom: 25px;
}

input, button{
    padding: 15px;
}

button{
    background-color: #1287F2;
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0 25px;
}

hr{
    height: 3px;
    background-color: #D9D9D9;
    border: none;
}

p, #result{
    padding: 10px 0;
    font-size: 18px;
    color: #666666;
}

a{
    text-align: center;
    font-size: 18px;
    color: #1287F2;
    margin: 10px 0 15px;
}

span{
    display: block;
    text-align: center;
}